/******************************************************************

Stylesheet: Desktop Stylsheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/


/*********************
LAYOUT & GRID STYLES
*********************/

	#page-wrap {
		width: 80%;
	}
	#page-content {
		width: 65%;
		padding: $size_base;
	}
	#page-sidebar {
		width: 31%;
	}
	#page-footer {
		width: 80%;
	}

/*********************
HEADER STYLES
*********************/


/*********************
NAVIGATION STYLES
*********************/


/*********************
POSTS & CONTENT STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/


