/* ==========================================================================
	Base
/* ========================================================================== */

/* Portrait */
@media all and (orientation:portrait) {


}

/* Landscape */
@media all and (orientation:landscape) {


}

/* Portrait and Landscape */
html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
	font-family: Arial, sans-serif;
	color: $text_color;
}
body {
	height: 100%;
	margin: 0;
	color: $text_color;
	background-color: $light-gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
/*	Apply to all elements. In a responsive design, this is almost always a good idea */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $color_link;

	/* on hover */
	&:hover, &:focus {
		color: $link_hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/* ==========================================================================
	Typography
/* ========================================================================== */

/* H1, H2, H3, H4, H5 STYLES */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $size_base;
	line-height: $size_base * 1.5;
}
h1 {
	font-size: $size_base * 2.5;
}
h2 {
	font-size: $size_base * 1.8;
}
h3 {
	font-size: $size_base * 1.4;
}
h4 {
	font-size: $size_base * 1.3;
	font-weight: normal;
}
h5, h6 {
	font-size: $size_base * 1.1;
}

/* Content Block Elements */
dl, mmenu, ol, ul, p, pre {
	margin: 0 0 $size_base;
}

/* Paragraphs */
p {

}

/* Lists */
menu, ol, ul {
	padding: 0 0 0 $size_base * 2;
}

/* Selection Colors */
::-moz-selection {
	background: $text_color;
	color: $white;
	text-shadow: none;
}
::selection {
	background: $text_color;
	color: $white;
	text-shadow: none;
}


/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
button,
.button,
a.button,
input.button {
	display: inline-block;
}
button:focus,
.button:focus,
a.button:focus,
input.button:focus,
button:hover,
.button:hover,
a.button:hover,
input.button:hover {

}
button:active,
.button:active,
a.button:active,
input.button:active {

}

/* Responsive Media Styles */
.media {
	/* Set width on this selector based on design and needs */
}
.media img,
.media video,
.media object,
.media iframe {
	width: 100%;
	height: auto;
}

/* Clear Fix */
.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Floats */
.floatleft {
	float: left;
}
.floatright {
	float: right;
}


/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */

/* Less than 320px but will apply at all sizes */
#page-wrap {
	width: 90%;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 $size_base * 3 0 #444;
	box-shadow: 0 0 $size_base * 3 0 #444;
}
#page-header {
	padding: $size_base;
	background: url($images_dir + 'black_lozenge.png');
}
#page-logo {
	color: $white;

	a {
		color: $white;
	}
}
#page-header ul {
	list-style: none;
	padding: 0;

	li {
		cursor: pointer;
		padding: $size_base / 2 $size_base;
		margin: 0 0 $size_base / 2;

		-webkit-border-radius: $size_base * 2;
		border-radius: $size_base * 2;

		background: #298cba; /* Old browsers */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGNiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDYzODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #298cba 0%, #1d6385 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#298cba), color-stop(100%,#1d6385)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #298cba 0%,#1d6385 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #298cba 0%,#1d6385 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #298cba 0%,#1d6385 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #298cba 0%,#1d6385 100%); /* W3C */

		.lt-ie9 & {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298cba', endColorstr='#1d6385',GradientType=0 ); /* IE6-8 */
		}

		a {
			color: #fff;
			text-decoration: none;
		}

		&:hover a {
			color: $text_color;
		}
	}
}

/* Content */
#content-wrap {
	padding: $size_base;
	background: #fff;
}
.article {
	margin-bottom: $size_base;
	border-bottom: 1px solid #444;
}
.article-header {
	margin-bottom: $size_base;
	padding-bottom: $size_base;
	border-bottom: 1px solid #444;
}
.article-title {
	margin-bottom: 0;

	a {
		text-decoration: none;
	}
}
.article-info {
	font-size: .825em;
}

/* Sidebar */
#page-sidebar {
	background: #eee;
	padding: $size_base;

	-webkit-border-radius: $size_base;
	border-radius: $size_base;

	& > ul {
		list-style: none;
		padding: 0;
	}
}

.search-form {
	background: url($images_dir + 'black_lozenge.png');
	overflow: hidden;
	padding: $size_base;
	margin-bottom: $size_base;

	-webkit-border-radius: $size_base;
	border-radius: $size_base;

	.input-wrap {
		float: left;

		label {
			display: none;
		}
		input {
			width: 100%;
		}
	}
	.search {
		width: 75%;
		margin-right: 3%;
	}
	.submit {
		width: 22%;
	}
}

/* Footer */
#page-footer {
	width: 90%;
	margin: 0 auto;
	padding: $size_base 0;
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */